body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.container{
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    
}
.name{
    border-radius: 20px;
    color: rgb(105, 114, 28);
    font-size: 50px;
    margin-top: auto;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 12;   
}
.menu{
    font-size: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif; 
    flex-grow: 1;
}
a{
    color: whitesmoke;
}
.container2{
    background-color: rgb(9, 15, 110);
    opacity: .8;
    display: flex;
    height: 1200px;    
    margin-right: 20%;
    margin-left: 20%;
    color: rgb(9, 15, 110);
    align-self: center;
}

form{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 30px;
    width: 100%;
    color: whitesmoke;
}
.class1{
    width: 100%;
    height: 30px;
}

.comment{
    width: 100%;
    height: 80px;
}